/* export const defaultTheme = {
  primaryBgColor: 'rgb(208, 224, 235)',
  secondaryBgColor: 'rgb(248, 177, 149)',
  //   primaryHoverColor: blue[200],
  //   primaryActiveColor: blue[100],
  textColorOnPrimary: 'rgb(53, 92, 125)',
  //   textColor: neutral[600],
  //   textColorInverted: neutral[100],
  //   primaryFont,
  //   disabled: neutral[400],
  //   textOnDisabled: neutral[300],
  //   formElementBackground: neutral[100],
  //   textOnFormElementBackground: neutral[600],
  //   status: {
  //     warningColor: yellow[100],
  //     warningColorHover: yellow[200],
  //     warningColorActive: yellow[300],
  //     errorColor: red[100],
  //     errorColorHover: red[200],
  //     errorColorActive: red[300],
  //     successColor: green[100],
  //     successColorHover: green[200],
  //     successColorActive: green[300],
  //   },
};

export const darkTheme = {
  primaryBgColor: 'rgb(44, 28, 51)',
  secondaryBgColor: 'rgb(0, 0, 0)',
  //   primaryHoverColor: neutral[200],
  //   primaryActiveColor: neutral[300],
  textColorOnPrimary: 'rgb(192, 99, 112)',
  //   textColor: neutral[300],
  //   textColorInverted: neutral[100],
  //   primaryFont,
  //   disabled: neutral[400],
  //   textOnDisabled: neutral[300],
  //   formElementBackground: blue[100],
  //   textOnformElementBackground: neutral[100],
  //   status: {
  //     warningColor: yellow[100],
  //     warningColorHover: yellow[200],
  //     warningColorActive: yellow[300],
  //     errorColor: red[100],
  //     errorColorHover: red[200],
  //     errorColorActive: red[300],
  //     successColor: green[100],
  //     successColorHover: green[200],
  //     successColorActive: green[300],
  //   },
}; */

:root {
  --color-primary-background: rgb(208, 224, 235);
  --color-secondary-background: rgb(248, 177, 149);
  --color-text-primary: rgb(53, 92, 125);
}
[data-theme='dark'] {
  --color-primary-background: rgb(44, 28, 51);
  --color-secondary-background: rgb(0, 0, 0);
  --color-text-primary: rgb(192, 99, 112);
}
